[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target consul.service modprobe@bridge.service
After=network-online.target consul.service modprobe@bridge.service

[Service]
User=root
Group=root
RuntimeDirectory=nomad
RuntimeDirectoryMode=0700

ImportCredential=nomad.*
EnvironmentFile=/etc/environment.d/20-mangos.conf
ExecStartPre=sh -c "jq -n '{region:env.NOMAD_REGION,datacenter:env.NOMAD_DATACENTER}' > ${RUNTIME_DIRECTORY}/dc-region.json"
ExecStartPre=sh -c "jq -R '{consul:{token:.}}' ${CREDENTIALS_DIRECTORY}/nomad.consul_token > ${RUNTIME_DIRECTORY}/consul.json"

# Use the subject of Nomad's certificate to enable/disable server mode.
ExecStartPre=sh -c "(openssl x509 -in /var/lib/nomad/ssl/nomad.crt -subject -noout | grep -q CN=server && echo true || echo false) | jq '{server:{enabled:.}}' > ${RUNTIME_DIRECTORY}/server.json"

ExecStart=/usr/bin/nomad agent \
	-config /usr/share/nomad \
	-config /etc/nomad.d \
	-config ${RUNTIME_DIRECTORY}/dc-region.json \
	-config ${RUNTIME_DIRECTORY}/consul.json \
	-config ${RUNTIME_DIRECTORY}/server.json

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
