[Unit]
Description=Install MANGOS
Before=sysroot.mount dev-gpt\x2dauto\x2droot.device
ConditionPathExists=/etc/initrd-release
SuccessAction=reboot-immediate
OnFailure=emergency.target

[Service]
Type=oneshot
StandardInput=tty-force
ExecStart=/usr/lib/mangos/mangos-install
LoadCredential=mangos_install_target
