[Unit]
Description=Install MANGOS
Before=sysroot.mount dev-gpt\x2dauto\x2droot.device
ConditionPathExists=/etc/initrd-release
ConditionKernelCommandLine=mangos_install_target
SuccessAction=reboot-immediate
OnFailure=emergency.target

[Service]
Type=oneshot
StandardInput=tty-force
ExecStartPre=systemctl start systemd-networkd-wait-routable
ExecStart=/usr/lib/mangos/mangos-install
