{{- $credsDir := env "CREDENTIALS_DIRECTORY" -}}
{{- $csrPath := "" -}}
{{- if $credsDir -}}
{{-   $csrPath = (printf "%s/mangos.csr" $credsDir) -}}
{{- else -}}
{{-   $csrPath = printf "/var/lib/mangos/mangos.csr" -}}
{{- end -}}
{{- with $csr := file $csrPath -}}
{{-   $hostname := env "HOSTNAME" -}}
{{-   with pkiCert "pki-nodes/sign/node-cert-self"
        (printf "common_name=%s.mangos" $hostname)
        (printf "csr=%s" $csr) -}}
{{-     .Cert -}}
{{-   end -}}
{{- end -}}
