{{- $credsDir := env "CREDENTIALS_DIRECTORY" -}}
{{- $csrPath := "" -}}
{{- if $credsDir -}}
{{-   $csrPath = (printf "%s/mangos.csr" $credsDir) -}}
{{- else -}}
{{-   $csrPath = printf "/var/lib/mangos/mangos.csr" -}}
{{- end -}}
{{- with $csr := file $csrPath -}}
{{-   $hostname    := env "HOSTNAME" -}}
{{-   $signingRole := envOrDefault "NODE_CERT_SIGNING_ROLE" "node-cert-self" -}}
{{-   with pkiCert (printf "pki-nodes/sign/%s" $signingRole)
        (printf "common_name=%s.mangos" $hostname)
        (printf "csr=%s" $csr) -}}
{{-     .Cert -}}
{{-   end -}}
{{- end -}}
